.folder {
  border-left: 1px solid black;
  width: 10rem;
}

.folder_name {
  cursor: pointer;
  padding-left: 0.5rem;

  display: flex;
  align-items: center;
}
.folder_name:hover {
  background-color: #f0f0f0;
}
.files {
  padding-left: 1rem;
}
.arrow_icon {
  margin-right: 0.3rem;
}
.folder_icon,
.file_icon {
  margin-right: 0.3rem;
}
